.catagory {
  display: flex;
  height: 8rem;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
  &-creator-box {
    flex: 1;
    height: 100%;
    @include flex(center);
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.show-cat {
  width: 95%;
  height: 70%;
  border-radius: 3rem;
  background-color: $lightest-gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  @include flex(between);
  justify-content: space-around;
  color: $primary-gray;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;

  &-add-icon {
    color: $btn-green;
    position: absolute;
    left: 1.5rem;
  }
  &-input {
    width: 60%;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 1rem;
    text-align: center;
    border-radius: 3rem;
    background-color: $white;
    margin-right: 3rem;
  }
  &-icon-box {
    @include flex(center);
    position: absolute;
    height: 100%;
    gap: 1rem;
    padding-right: 1rem;
    right: 0;
  }
  &-save-icon {
    color: $btn-green;
    width: 5rem;
  }

  &:active {
    box-shadow: none;
  }
}
.cat-items {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: $lightest-gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3rem 3rem;
  transition: all 0.2s ease-in-out;
  transform-origin: top;
  max-height: 300px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Add a vertical scrollbar when the content exceeds the height */
}
.cat-item-box {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  @include flex(between);
  &:hover {
    background-color: $light-gray;
  }
}
.cat-item-input {
  border-radius: 3rem;
  background-color: inherit;
  font-size: 1.5rem;
  width: 80%;
  padding: 1rem 2rem;
  padding-right: 0rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.cat-icon-box {
  flex: 1;
  height: 4rem;
  @include flex(center);
  gap: 0.8rem;
}

.edit-icon {
  color: $primary-color;
}
.delete-icon {
  color: $btn-red;
}
.save-icon {
  color: $btn-green;
}
.discard-icon {
  color: $btn-red;
}

.catagory-selector {
  width: 100%;
  height: 5rem;
  position: relative;
  cursor: pointer;

  & select {
    height: 100%;
    padding: 1rem 1rem;
    padding-right: 2.5rem; /* Adjust padding to make space for the icon */
    border-radius: 7px;
    width: 100%;
    appearance: none; /* Remove the default arrow */
    -webkit-appearance: none; /* Remove the default arrow in Safari */
    -moz-appearance: none; /* Remove the default arrow in Firefox */
    outline: none;
    cursor: pointer;
    :focus {
      outline: none;
      border: none;
    }
  }

  .cat-custom-dropdown {
    position: relative;
    cursor: pointer;
  }

  .cat-icon {
    position: absolute;
    top: 50%;
    right: 1rem; /* Adjust to align the icon */
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the icon from interfering with the select box */
    cursor: pointer;
  }
}
