.popupContainer {
  @include flex(between);
}
.daybook__datePopup {
  //   background-color: red;
  @include flex(center);
  width: 50%;
  height: 40rem;
}
.setDate_daybook {
  width: 100%;
  @include flex(center);
  gap: 1rem;
}
