.overview {
  // height: fit-content;
  margin-top: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  @include respond(smallPhone) {
    gap: 1rem;
    margin-right: 0rem;
  }
  @include respond(tablets) {
    gap: 3.5rem;
    margin-right: 2rem;
  }
  @include respond(bigTablets) {
    gap: 3.5rem;
    margin-right: 2rem;
  }
  &-item {
    background-color: $box-color;
    height: 6.5rem;
    width: 100%;
    @include respond(smallPhone) {
      height: 5rem;
    }
    @include respond(tablets) {
      height: 7rem;
    }
    @include respond(bigTablets) {
      height: 7rem;
    }
  }
  &-content {
    @include flex(center);
    justify-content: start;
    gap: 1rem;

    & span {
      font-size: 2.2rem;

      @include respond(smallPhone) {
        font-size: 1.6rem;
      }
      @include respond(tablets) {
        font-size: 3rem;
      }
      @include respond(bigTablets) {
        font-size: 3rem;
      }
    }
  }
}
