.search-container {
  position: relative;
  width: fit-content;
  & svg {
    fill: $mid-gray;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

.search {
  outline: none;
  border: none;
  height: 3rem;
  border-radius: 8rem;
  padding-left: 2rem;
  color: $mid-gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 4rem;

  transition: transform 0.3s ease;

  &:active,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.selector__wrapper {
  display: inline-block;
  position: relative;
  max-width: 10rem;
  margin: 10px;
  margin-right: 0px;
}

.selector__wrapper select {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  outline: none;
  transition: border-color 0.2s ease;
}

.selector__wrapper select:focus {
  border-color: $primary-color;
  box-shadow: 0 0 5px $primary-color;
}

.selector__wrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px; //
  color: $primary-gray;
}

/* apply search bar  */
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 8px;
  margin-top: 5rem;
  width: 25rem;
  margin-bottom: 5rem;
  background-color: $lightest-gray;

  input {
    border: none;
    outline: none;
    padding: 8px;
    flex-grow: 1;
    font-size: 12px;
    background-color: $lightest-gray;
  }

  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: $mid-gray;
  }
}

/* common button  */
.common-btn {
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 0.9rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 7px;
  border-color: $primary-color;
  font-weight: 720;
  color: $primary-color;
  border-width: 1px;
  background-color: $white;
}

/* Selector Container */
.selector {
  position: relative;
  display: inline-block;
  width: 13rem;
}

/* Styled Select */
.styled-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border-color: $primary-color;
  border-radius: 7px;
  padding: 0.8rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: $primary-color;
  width: 100%;
  cursor: pointer;
  letter-spacing: 0.5px;
  position: relative;
  font-family: "Open Sans";
}

/* Chevron Icon */
.selector .icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 2rem;
  color: $primary-color;
}

/* Option Styles (Applies only in dropdown mode, not native) */
.styled-select option {
  background-color: $white;
  color: $primary-color;
  padding: 4px;
  font-size: 1.4rem;
}

.styled-select:focus {
  border-color: $primary-color;
  outline: none;
}

/* Date filter  */
.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 0.7rem;
  border-color: $primary-color;
  position: relative;
  cursor: pointer;
}

.rotated-icon {
  font-size: 20px;
  transform: rotate(-180deg) scaleX(-1);
  color: $primary-color;
}

.date-input {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  z-index: 100;
  width: 150px;
  display: inline-block;
  margin-top: 0.5rem;
}

.no-data-6pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  color: $mid-gray;
  height: 36rem;
  img {
    width: 25rem;
  }
}

.page-limit-card {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 6rem;
    color: $primary-color;
  }
}

.quick-date-filters {
  span {
    font-weight: 600;
  }
  .date-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tablets, bigTablets) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 0.8rem;
    }

    @include respond(smallPhone, phone) {
      display: none;
    }
  }
}
