.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(5, 64, 153),
    rgb(39, 1, 100),
    #0484ec
  );
}

.auth-box {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.hidden-checkbox {
  display: none;
}

.signup-section,
.login-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.signup-section label,
.login-section label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.signup-section input,
.login-section input {
  width: 70%;
  height: 4rem;
  border-radius: 2rem;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  opacity: 0.8;
}

.app-container button {
  width: 70%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.app-container button:hover {
  background: #6d44b8;
}

.login-section {
  height: 460px;
  background: #fff;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login-section label {
  color: #573b8a;
  transform: scale(0.5);
  text-wrap: nowrap;
  padding-top: 1.5rem;
}

.hidden-checkbox:checked ~ .login-section {
  transform: translateY(-500px);
}

.hidden-checkbox:checked ~ .login-section label {
  transform: scale(0.8);
  padding-top: 4rem;
}

.hidden-checkbox:checked ~ .signup-section label {
  transform: scale(0.6);
}
.resend-otp-text {
  color: gray;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
