.daybook-form-container {
  transition: all 0.3s ease;
  overflow: hidden;
}

.form-section {
  transition: height 0.3s ease, width 0.3s ease;
}

.form-row,
.form-group {
  transition: margin 0.3s ease;
  margin-top: 1rem;
}

.grid-container {
  display: grid;
  gap: 16px;
  transition: all 0.3s ease;
}

.grid-item {
  transition: all 0.3s ease;
}

.amount-field {
  transition: width 0.3s ease;
}

// .error {
//   transition: opacity 0.3s ease;
//   opacity: 0;
// }

// .error.show {
//   opacity: 1;
// }
