$primary-color: rgb(39, 1, 100);
$disabled-color: rgb(100, 100, 100);
$primary-opacity: rgba(17, 35, 151, 0.1);

$primary-gray: rgb(82, 82, 82);
$secondary-color: rgb(5, 64, 153);
$delete-color: rgb(136, 33, 1);
$spinner-blue: #0484ec;

// $selection-color: rgb(180, 207, 207);
$selection-color: #e6e7eb;

$mid-gray: rgb(129, 129, 129);
$light-mid-gray: #f0f0f0;
$light-gray: rgb(204, 204, 204);
$lightest-gray: rgb(233, 228, 228);
$mild-gray: #f9f9f9;
$dark-gray: #333;

$light-green: rgb(201, 212, 202);
$btn-green: rgb(16, 182, 16);
$dark-green: green;

$btn-red: rgb(134, 4, 4);

$backgroud-color: #f0f0f0;
$box-color: rgb(255, 255, 255);

$pagenavigate-purple: rgb(247, 193, 252);

//global
$border-radius: 1rem;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
$white: white;
//side bar
$side-bar-padding: 1.5rem;
$side-bar-contents-margin: 4rem;
$li-padding: 1.3rem 2rem;

$header-height: 11.5rem;
$header-padding: 2.5rem 5rem;

$body-margin: 8rem;
$body-margin-2: 5rem;

$data-value-header-padding: 0.5rem 0;
$data-value-margin: 5rem 0;

$target: rgb(53, 75, 214);

$pagination-bg: #ded3dd; // pagination bg;
$light-violet: rgb(173, 173, 193);

// for bank's tag
$rbl-tag: #1f4382;
$icici-tag: #048acd;
$rak-tag: #9d9898;
$hdfc-tag: #484848;
$cash-tag: black;
