$data-header-height: 4rem;
$header-height: 13rem;
$side-padding: 3rem;
$input-margin: 3rem;

.commition {
  height: 90vh;
  margin: 0 $body-margin-2;

  & .text {
    font-weight: 100;
  }

  & input {
    margin-right: $input-margin;
    cursor: pointer;
  }

  &-footer {
    margin-top: 3rem;
  }

  &__actions {
    @include flex(center);
    justify-content: start;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__header {
    height: $header-height;
    background-color: $mild-gray;

    &-bottom {
      @include flex(between);
    }
  }

  &__data {
    height: calc(100% - $header-height);

    &-header {
      background-color: $light-green;
      height: $data-header-height;
      @include flex(center);
      justify-content: start;
      padding: 0 $side-padding;
    }

    &-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - $data-header-height);
    }
    &-items {
      height: calc(100% / 6);
      padding: 0 $side-padding;
      // width: 100%;
      @include flex(center);
      justify-content: start;
      border-bottom: 1px solid gray;

      & input {
        margin-right: $input-margin;
      }
      & span {
        height: 100%;
        @include flex(center);
        justify-content: start;
        padding: 2rem;
        padding-left: 0;
      }
    }

    &-headerItems {
      width: 15rem;
      font-family: "Poppins", "Open Sans", "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  &__student {
    flex: 1;
    min-width: 15rem;
  }

  &-search-container {
    @include flex(center);
    padding: 3rem 0rem;
    padding-bottom: 1.5rem;
  }

  &__filter-container {
    @include flex(center);
    gap: 1.5rem;
  }
}

.commitionDate {
  width: 12em;
}
