$data-header-height: 4rem;
$header-height: 8rem;
$side-padding: 3rem;
$input-margin: 3rem;

.commition {
  height: 70vh;
  box-sizing: content-box;

  & input {
    margin-right: $input-margin;
    cursor: pointer;
  }

  &__actions {
    // display: none;
  }

  &__header {
    height: $header-height;
    background-color: $mild-gray;
  }

  &__data {
    height: calc(100% - $header-height);

    &-header {
      background-color: $light-green;
      height: $data-header-height;
      @include flex(center);
      justify-content: start;
      padding: 0 $side-padding;
    }

    &-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - $data-header-height);
    }
    &-items {
      height: calc(100% / 6);
      padding: 0 $side-padding;
      // width: 100%;
      @include flex(center);
      border-bottom: 1px solid gray;

      & input {
        margin-right: $input-margin;
      }
      & span {
        height: 100%;
        @include flex(center);
        justify-content: start;
        text-wrap: wrap;
      }
    }

    &-headerItems {
      width: 15rem;
      font-family: "Poppins", "Open Sans", "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  // &__student {
  //   flex: 1;
  // }
}

.commitionDate {
  width: 12em;
}
