.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #ceccda, #443cb8);
  box-shadow: 0px 0px 24px #5c5696;
  overflow: hidden;
}

.saleskip {
  display: none;

  @include respond(bigTablets, desktop) {
    display: flex;
    width: 50rem;
    background: linear-gradient(90deg, #443cb8, #ceccda);
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
}

.text-container h1 {
  color: rgb(243, 243, 243);
}

.screen {
  background: linear-gradient(
    90deg,
    #adabd7,
    #3928c0
  ); /* Updated background gradient */
  position: relative;
  height: 600px;
  width: 360px;

  &__content {
    z-index: 1;
    position: relative;
    height: 100%;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    clip-path: inset(0 0 0 0);

    &__shape {
      transform: rotate(45deg);
      position: absolute;

      &1 {
        height: 520px;
        width: 520px;
        background: #fff;
        top: -35px;
        right: 120px;
        border-radius: 0 72px 0 0;
      }

      &2 {
        height: 220px;
        width: 220px;
        background: #5242cd;
        top: -172px;
        right: 0;
        border-radius: 32px;
      }

      &3 {
        height: 540px;
        width: 190px;
        background: linear-gradient(270deg, #4d3fb4, #514cab);
        top: -24px;
        right: 0;
        border-radius: 32px;
      }

      &4 {
        height: 400px;
        width: 200px;
        background: #655fe2;
        top: 420px;
        right: 50px;
        border-radius: 60px;
      }
    }
  }
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 135px;

  &__field {
    padding: 20px 0px;
    position: relative;

    .login__icon {
      position: absolute;
      top: 30px;
      color: #251f9e;
    }

    .login__input {
      border: none;
      border-bottom: 2px solid #d1d1d4;
      background: none;
      padding: 10px;
      padding-left: 24px;
      font-weight: 700;
      width: 75%;
      transition: 0.2s;

      &:active,
      &:focus,
      &:hover {
        outline: none;
        border-bottom-color: #3b34c1;
      }
    }
  }

  &__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #6661c0;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #241e88;
    box-shadow: 0px 2px 2px #3c3388;
    cursor: pointer;
    transition: 0.2s;

    &:active,
    &:focus,
    &:hover {
      border-color: #29238e;
      outline: none;
    }

    .button__icon {
      font-size: 24px;
      margin-left: auto;
      color: #2c2792;
    }
  }
}
